@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'MadeBonVoyage';
	src:url('../fonts/MadeBonVoyage.otf') format('truetype');

}

:root {
	--color-text: #131313;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #131313;
	--padding-sides: 2rem;
	--padding-row: 1rem;
	--color-row-border: #f0f0f0;
	--color-bg-row-hover: #f0f0f0;
	--color-text-alt: #000;
	--image-gap: 1vw;
	--image-gap-large: 2vw;
	--img-size: 5vw;
	--img-size-large: 14vw;
}

body {
	background-color: var(--color-bg);
	font-family: neue-haas-grotesk-display, sans-serif;
	color: var(--color-text);
	padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.header__wrapper {
	font-family: neue-haas-grotesk-display, sans-serif;
	text-transform: none;
	margin: 0 auto 0em;
	padding: 80px 25px;
	text-align: center;
}

.header__wrapper h1 {
	margin: 0;
	font-weight: 300;
	font-family: MadeBonVoyage;
	font-size: 5rem;
	line-height: 1;
}

.header__wrapper span {
	display: block;
	font-family: neue-haas-grotesk-display, sans-serif;
	padding: 0;
	font-size: 1.2rem;
	color: black;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}


.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}




/* Searcher */

.section__search{
	padding: 0 25px;
}

.search
{
	border: 2px solid black;
	overflow: auto;
}

::placeholder {
  font-size: 1.5em;
}

.search input[type="search"]
{
	font-size: 1.5em;
	border: none;
	border: 0px;
	width: 70%;
	padding: 25px 15px;
}

.search input[type="search"]:focus
{
	outline: 0;
	font-size: 1.5em;
}

.search button[type="button"]
{
	border: none;
	width: 10%;
	background-color: black;
	color: #fff;
	float: right;
	padding: 25px 15px;
	height: 100%;
	font-size: 1.5em;
  cursor:pointer;
}


@media only screen and (min-width : 150px) and (max-width : 780px)
{
	{}
	.search
	{
		width: 100%;
		margin: 0 auto;
	}
	::placeholder {
	  font-size: 1.2em;
	}

	.search input[type="search"]
	{
		font-size: 1.2em;
		border: none;
		border: 0px;
		width: 60%;
		padding: 10px 10px;
	}

	.search input[type="search"]:focus
	{
		outline: 0;
		font-size: 1.2em;
	}

	.search button[type="button"]
	{
		border: none;
		width: 30%;
		background-color: black;
		color: #fff;
		float: right;
		padding: 10px 10px;
		height: 100%;
		font-size: 1.3em;
	  cursor:pointer;
	}

}

@media only screen and (min-width : 781px) and (max-width : 940px)
{
	{}
	.search
	{
		width: 100%;
		margin: 0 auto;
	}
	::placeholder {
	  font-size: 1.2em;
	}

	.search input[type="search"]
	{
		font-size: 1.2em;
		border: none;
		border: 0px;
		width: 65%;
		padding: 10px 10px;
	}

	.search input[type="search"]:focus
	{
		outline: 0;
		font-size: 1.2em;
	}

	.search button[type="button"]
	{
		border: none;
		width: 25%;
		background-color: black;
		color: #fff;
		float: right;
		padding: 10px 0;
		font-size: 1.3em;
	  cursor:pointer;
	}

}



/* Sticky carousel menu*/

::-webkit-scrollbar {
    display: none;
}

.carousel__menu {
  width: 100%;
  margin: 0;
	padding: 0;
	position: sticky;
  top:0px;
	overflow-x: auto;
	z-index: 999;
}

.contenedor__sticky {
  width: 100%;
  margin: 0;
	padding: 0;
  background: none;
}

.carousel {
  display:block;
  background: none;
  scroll-behavior: smooth;
  margin: 0 auto;
  white-space: nowrap;
}

 nav ul li {
  display: inline-block;
  margin: 0;
  padding: 50px 3px;
}
nav ul li button.button-value {
	background: #fd4af1;
  padding: 5px 20px;
  color: #000;
  border-radius: 10px;
  font-size: 3em;
  text-decoration: none;
	border: none;
}



button.button-value.selected__item {
	background: black;
  color: #fff;
	padding: 5px 20px;
	border-radius: 10px;
  font-size: 3em;
  text-decoration: none;
}

button.button-value:active {
  background-color: #cb190c;
  color: #fff;
}

button.button-value:hover {
	background-color: black;
  color: #fff;
  cursor: pointer;
}

/* media queries */

@media only screen and (min-width : 150px) and (max-width : 320px)
{
	{}
		nav ul li {
	   display: inline-block;
	   margin: 0;
	   padding: 35px 2px;
	 }
		nav ul li.button-value {
			padding: 3px 10px;
	    font-size: 2.5em;
			border-radius: 8px;
	  }

}

@media only screen and (min-width : 321px) and (max-width : 738px)
{
	{}
		nav ul li {
	   display: inline-block;
	   margin: 0;
	   padding: 35px 3px;
	 }
		nav ul li.button-value {
			padding: 5px 20px;
	    font-size: 3em;
			border-radius: 10px;
	  }

}




section {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 300px;
  text-align: left;
}

section.active {
  background: #a81c13;
}

footer {
  height: 400px;
  background: #eee;
}

h5 {
  text-align: center;
  font-size: 2rem;
  padding: 4rem;
}

/* Grid products */

.wrapper {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 25px;
}

/* utils */

.light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

p {
  color: rgba(0,0,0,.65);
}

/* cards */

.cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.cards__box {
  padding: 0;
  flex: 1 100%;
  border: 2px solid black;
  margin: 15px;
}

/* Grid items */

.grid__item {
	position: relative;
	float: left;
	width: 100%;
	padding: 0;

}

.grid__item .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

/* Gallery */

.slider {
	padding: 0;
	margin: 0;
}

.no-touch .slider {
	padding: 0 0 1.25em;
}

.slider__item {
	width: 100%;
}

.slider__item img {
	width: 100%;
}
/* Flickity page dots */

.slider .flickity-page-dots {
	bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.no-touch .slider:hover .flickity-page-dots {
	opacity: 1;
}

.slider .flickity-page-dots .dot {
	background: #131417;
}

/* Product meta */

.meta {
	position: relative;
	padding: 1em;
	text-align: left;
}

.header__align {
	display: flex;
  justify-content: space-between;
}

.meta__brand {
	font-size: 1em;
	font-weight: bold;
	text-align: right;

}

.meta__title {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}

.meta__price {
	font-size: 2em;
	font-weight: bold;
	color: black;
}

.hide {
  display: none;
}

.section__ticker {
	width: 100%;
}

.ticker-wrap {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  overflow-x: hidden;
  height: 4rem;
  background-color: black;
  box-sizing: content-box;
	padding-left: 100%;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: -100%;
  box-sizing: content-box;
  animation: ticker 50s linear infinite;
  -webkit-animation: ticker 50s linear infinite;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 .3rem;
  font-size: 2rem;
  color: white;
}

.ticker-wrap .label__add {
  color: #ebef7e;
}

section {
      height: 90vh;
    }
    section.one {
      background-color: #118ab2;
    }
    section.two {
      background-color: #06d6a0;
    }
    section.three {
      background-color: #ffd166;
    }



@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}






@media(min-width: 546px) {
  .cards__box {
    flex: 2 calc(50% - 30px);
  }
}

@media(min-width: 1024px) {
  .cards__box {
    flex: 1 calc(32% - 30px);
  }
}




@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 2em;
		text-align: center;
	}

	.column p {
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.header__wrapper {
		font-size: 100%;
	}

	.codrops-top {
		font-size: 100%;
	}

	.codrops-icon span {
		display: none;
	}

}

@media screen and (max-width: 40em) {

	.header__wrapper {
		font-size: 80%;
	}

	.codrops-top {
		font-size: 80%;
	}

	.codrops-icon span {
		display: none;
	}

}

/* media queries */

@media only screen and (min-width : 150px) and (max-width : 320px)
{
	{}
		.header__wrapper h1 {
			margin: 0;
			font-weight: 300;
			font-family: MadeBonVoyage;
			font-size: 6em;
			line-height: 1;
		}

		.header__wrapper span {
			display: block;
			padding: 0;
			font-size: 1rem;
			color: #E7E7E9;
			font-family: neue-haas-grotesk-display, sans-serif;
		}


}

@media only screen and (min-width : 321px) and (max-width : 738px)
{
	{}
		.header__wrapper h1 {
			margin: 0;
			font-weight: 300;
			font-family: MadeBonVoyage;
			font-size: 8em;
			line-height: 1;
		}

		.header__wrapper span {
			display: block;
			padding: 0;
			font-size: 1.5rem;
			color: #E7E7E9;
			font-family: neue-haas-grotesk-display, sans-serif;
		}


}
